gradio>=4.8.0
cn_clip
opencv-python
numpy
ffmpeg-python==0.2.0
docarray[hnswlib]>=0.39.1

edge_tts
langdetect
librosa

huggingface_hub
numba
cn2an
pypinyin
jieba
g2p_en
num2words
transforms
openi
transformers
pyopenjtalk
jaconv
sentencepiece